[submodule "test.check"]
	path = test.check
	url = https://github.com/robert-johansson/test.check.git
[submodule "malli"]
	path = malli
	url = https://github.com/robert-johansson/malli.git
[submodule "mlx-node"]
	path = mlx-node
	url = https://github.com/robert-johansson/mlx-node.git
[submodule "instaparse"]
	path = instaparse
	url = https://github.com/robert-johansson/instaparse.git
	branch = bb-nbb-support
