[submodule "paper/TOPML_system"]
	path = paper/TOPML_system
	url = https://git.overleaf.com/69a845ea638fc59bb0f9839a
[submodule "paper/DEP_paper"]
	path = paper/DEP_paper
	url = https://git.overleaf.com/68b351823cf5409cb65ef827
[submodule "internet-psychology"]
	path = internet-psychology
	url = https://github.com/robert-johansson/internet-psychology.git
[submodule "test.check"]
	path = test.check
	url = https://github.com/robert-johansson/test.check.git
[submodule "paper/MDPI_paper"]
	path = paper/MDPI_paper
	url = https://git.overleaf.com/69c61e3d0d3f822ca2c85da4
[submodule "malli"]
	path = malli
	url = https://github.com/robert-johansson/malli.git
[submodule "mlx-node"]
	path = mlx-node
	url = https://github.com/robert-johansson/mlx-node.git
